body {
  background-color: black;
}

#header {
  color: white;
  width: 94%;
  min-width: 400px;
  height: 70px;
  margin-left: 2.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Arial;
}

#scores{
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#how-to:hover{
  color: yellow;
  text-decoration: underline;
  cursor: pointer;
}

#how-to:active{
  color: red;
  text-decoration: underline;
}

#play-area {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: green;
  height: 85%;
  width: 93.5%;
  margin-left: 2.5%;
  margin-right: 3.5%;
  margin-top: 0%;
  margin-bottom: 2.5%;
}

.card-format{
  background-color: white;
  width: 120px;
  height: 168px;
  border-radius: 7px;
}

#deck-container{
  position: absolute;
  right: 4%;
  top: 36.66%;
  background-color: white;
  width: 120px;
  height: 168px;
  border: 0.5px solid black;
  border-radius: 7px;
  box-shadow:
    2px 2px 0.5px #eee,
    3px 3px 0.5px black,
    5px 5px 0.5px #eee,
    6px 6px 0.5px black,
    8px 8px 0.5px #eee,
    9px 9px 0.5px black;
  visibility: visible;
}

.card-container{
  display: flex;
  position: absolute;
  width: 50%;
  height: 180px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 2px solid black;
  border-radius: 7px;
  padding: 0 2% 0 2%;
}

#player1-container{
  top: 4%;
  left: 20%;
}
#player2-container{
  bottom: 4%;
  left: 20%;
}

#center-container{
  width: 40%;
  left: 25%;
}

#deck1{
  position: absolute;
  right: 1%;
  top: -0.5%;
  cursor: pointer;
}

#center1{
  visibility: visible;
}
